{% extends "base.html" %} 


{% block content %}

{% include "menu.html" %}
    <div  style=" height: 100vh;background-color: #FCFBFB">


        <div class="uk-flex uk-flex-center@m uk-flex-right@l uk-grid-column-medium" style="padding-top:80px;padding-left:20%;padding-right:20%;" >
            <div class="uk-card uk-card-hover uk-width-1-2" style="border-radius:10px;margin:20px;padding: 60px;padding-right:90px;padding-left:90px;background-color:#d9d4d4;" >
                <h1 style="margin:0px;">test test test</h1>
                <h2 class="uk-card-title" style="margin:0px;margin-top:10px;">Test</h2>
                <ul>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                    <li>test</li>
                </ul>
            </div>
            <div class="uk-grid-row-medium uk-width-1-2"uk-grid>
                <a href="homework/" style="color:black;text-decoration: none;padding:0px;">
                    <div class="uk-card uk-card-hover uk-height-1-3" style="border-radius:10px;margin:20px;padding: 30px;background-color:#d9d4d4;" >
                        <div>
                            <h2 class="uk-card-title" align="center">Test test test 1</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Phasellus nec egestas magna. Sed condimentum eros sit amet quam accumsan,
                            eu malesuada lacus congue. In scelerisque leo eget leo fermentum, at ultricies
                            tellus euismod. Suspendisse sed purus in nisl congue tristique. Vestibulum ante
                            ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec viverra,
                            sapien eu blandit ultricies, libero est eleifend velit, id accumsan arcu purus at leo.
                            Duis quis turpis et leo sagittis placerat in sit amet risus. Sed sagittis tortor et
                            euismod blandit.</p>
                        </div>
                    </div>
                </a>

                <div class="uk-card uk-card-hover uk-height-2-3" style="border-radius:10px;margin:20px;padding: 30px;background-color:#d9d4d4;" >
                    <div>
                        <h2 class="uk-card-title" >Test test test 1</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Phasellus nec egestas magna. Sed condimentum eros sit amet quam accumsan,
                            eu malesuada lacus congue. In scelerisque leo eget leo fermentum, at ultricies
                            tellus euismod. Suspendisse sed purus in nisl congue tristique. Vestibulum ante
                            ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec viverra,
                            sapien eu blandit ultricies, libero est eleifend velit, id accumsan arcu purus at leo.
                            Duis quis turpis et leo sagittis placerat in sit amet risus. Sed sagittis tortor et
                            euismod blandit.</p>
                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}
