{% extends "base.html" %}

{% block content %}


{% load static %}



<link rel="stylesheet" href="{% static "css/showPartner.css" %}">

<style>
    
</style>

<div class="main-sc uk-margin-top">

    <div class="section1 uk-flex">

        <div class="marg">

            <h1 class="first-text-section1">
                MTS Box
            </h1>
            <br>
            <p class="second-text-section1">
                Платформа для группового онлайн-прослушивания аудиоконтента
            </p>
            <br>
            {% if user.is_authenticated == 0 %}

            <a class="uk-button uk-button-secondary" href="/login/">Попробовать</a>
            <p>Войдите в аккаунт что бы попробовать наш сервис</p>            
            {% else %}

            <a class="uk-button uk-button-secondary" href="/service/">Попробовать</a>
            
            {% endif %}

        </div>

        <div class="center-img-section1"></div>

    </div>

</div>



<br>
<br>
<br>

<div class="main-sc uk-margin-top">

    <div class="main-sc-mid uk-width-4-5">

            <div class="uk-flex">

                <div>

                    <div class="graph__wrapper">
                        <svg width="315px" height="107px" viewBox="0 0 315 107" version="1.1" style="overflow:visible">
                        <g  id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                            <path id="Path-1" class="path" fill="none" stroke="#db5862" stroke-width="5" stroke-linejoin="round" stroke-miterlimit="10" d="M1.4,2.1c0,0,86,57,211.5,41.5s172.5-24.5,289,81"/>

                        <path class="dashed" fill="none" stroke="white" stroke-width="8" stroke-linejoin="round" stroke-miterlimit="10" d="M1.4,2.1c0,0,86,57,211.5,41.5s172.5-24.5,289,81"/>   
                            
                            <polyline id="arrow" points="0,-9 18,0 0,9 5,0" fill="#db5862">
                            <animateMotion rotate="auto" begin="1s" dur="1.6s" repeatCount="1" fill="freeze">
                                <mpath xlink:href="#Path-1" />
                            </animateMotion>
                            </polyline>

                        </g>
                        </svg>
                    </div>

                    <div class="card uk-margin-large-top card1">
                        
                        <h1>
                            Онлайн

                        </h1>

                        <p>
                            Открой для себя новый формат прослушивания музыки с друзьями                    
                        </p>

                    </div>

                </div>
                <div class="uk-margin-large-top uk-margin-large-left" style="margin-left: auto;">

                    <div style="height:107px">
                        
                    </div>

                    
                <h1 class="first-text-section1 uk-margin-large-top" style="margin: auto;">
                    Больше чем плеер
                </h1>


                </div>



            </div>

            <div class="uk-flex uk-margin-medium-top ">

                
                <div class="card uk-margin-large-right uk-margin-large-left">
                    
                        <h1>
                            Аналитика
                        </h1>

                        <p>
                            Наш сервис предлагает вам не только возможность наслаждаться музыкой, но и уникальную аналитику для вашего опыта. Получайте статистику о вашем музыкальном вкусе, самых прослушиваемых треках и рекомендациях.
                        </p>

                </div>

                <div class="card uk-margin-large-right">
                    
                        <h1>
                            Общение с сообществом
                        </h1>

                        <p>
                            В нашем сервисе будет реализована возможность взаимодействия с другими пользователями и добавления новых функций. Например, пользователи смогут комментировать и оценивать треки, создавать свои группы для совместного прослушивания музыки и так далее.
                        </p>

                </div>



                <div class="card ">
                    
                        <h1>
                            Адаптивный интерфейс 
                        </h1>

                        <p>
                            Сервис будет иметь адаптивный интерфейс, который будет адаптироваться под разные устройства и платформы, обеспечивая одинаковый уровень удобства и качества пользовательского опыта на всех них.
                        </p>

                </div>

            </div>



    </div>


</div>
    

</div>

<br>
<br>
<br>



<div class="main-sc uk-margin-large-top">

    <div class="main-sc-mid uk-width-4-5">




        <h1 class="first-text-section2">
            Слушай контент онлайн вместе с друзьями
        </h1>


    </div>
    

</div>




<br>
<br>
<br>


<section class="uk-section section2">

    <div class="uk-flex">

        <div class="uk-width-3-5 center-text-section3" >

            <div class="center-text-section3-mg uk-width-3-5">
            
                <h1 class="first-text-section3">
                    Попробуй <br> MTS Box
                </h1>

                <br>

                <a class="uk-button uk-button-secondary" href="#">Попробовать</a>
                
            </div>

        </div>

        <div class="center-img-section3 uk-width-2-5">

        </div>

    </div>
    

</section>




<br>

{% include "footer.html" %}


{% endblock %}
